@page "/CarrinhoCompra"

@inject IConfiguration config

@if (CarrinhoCompraItens is null && MensagemErro is null)
{
    <ExibirSpinner />
}
else if (MensagemErro is not null)
{
    <ExibirErro MensagemErro="@MensagemErro"></ExibirErro>
}
else
{
    <h3 class="mb-5">Carrinho</h3>
    @if (CarrinhoCompraItens?.Count > 0)
    {
        <div class="row mb-5">
            <div class="col-md-9">
                @foreach (var item in CarrinhoCompraItens!)
                {
                    <div class="row mb-3">
                        <div class="col-md-3">                           
                            @if (File.Exists(@item.ProdutoFotoUrl))
                            {
                                <img src="@item.ProdutoFotoUrl" class="card-img-top" width="400" alt="Imagem do Produto">
                            }
                            else
                            {
                                <img src="@CreateWebPath(item.ProdutoFotoUrl)" class="card-img-top" width="500" alt="Imagem do Produto">
                            }
                        </div>
                        <div class="col-md-9">
                            <h5>@item.ProdutoNome</h5>
                            <div class="mb-4">
                                @item.ProdutoDescricao
                            </div>

                            <span>
                                Preço: <b>@item.Preco.ToString("C")</b>


                                <input type="number" @bind="@item.Quantidade" />

                                <button class="btn btn-info btn-sm  shadow-none EscondeButtonAtualizaQnt" @onclick="(()=>
                                    AtualizarQuantidadeCarrinho_Click(item.Id, item.Quantidade))">
                                    <i class="fa-regular fa-circle-check"></i>
                                </button>

                                <br />

                                <button @onclick="(()=> DeletaCarrinhoItem_Click(item.Id))" class="btn btn-danger shadow-none">
                                    <i class="fa-solid fa-trash-can "></i>
                                </button>

                            </span>
                        </div>
                    </div>
                }
            </div>


            <div class="col-md-3">
                <h5>Carrinho - Resumo</h5>
                <div class="mt-2">
                    <div><b>Total - (@QuantidadeTotal items)&nbsp;</b><b>@PrecoTotal</b></div>
                    <a href="/Pagamento" class="btn btn-success">
                        <i class="fa-solid fa-credit-card"></i>&nbsp;Pagamento                  
                    </a>
                   
                </div>
            </div>
        </div>
       
    }
    else
    {
        <div>
            <h3><b>Carrinho De Compra está vazio...</b>.</h3>
        </div>
    }


}

@code {
    [Inject]
    public ICarrinhoCompraService? CarrinhoCompraService { get; set; }
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    [Inject]
    public ILocalStorageCarrinhoItensService? GerenciaCarrinhoLocalStorage { get; set; }

    public List<CarrinhoItemDto>? CarrinhoCompraItens { get; set; }

    public string? MensagemErro { get; set; }

    public decimal PrecoTotal { get; set; }

    public int QuantidadeTotal { get; set; }


    private string CreateWebPath(string? relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot")!, relativePath!);
    }


    protected override async Task OnInitializedAsync( )
    {
        try
        {

            //CarrinhoCompraItens = await GerenciaCarrinhoLocalStorage!.GetCollection();
            CarrinhoCompraItens = await CarrinhoCompraService!.ObterItens(UsuarioLogado.UsuarioId);

            //CalculaResumoCarrinhoTotal();
            CarrinhoChanged();

        }

        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }
    }


    private CarrinhoItemDto ObtemItemDoCarrinho(int id)
    {
        return CarrinhoCompraItens!.FirstOrDefault(i => i.Id == id) ?? null!;
    }
    protected async Task AtualizarQuantidadeCarrinho_Click(int id, int quantidade)
    {
        try
        {
            if(quantidade > 0)
            {
                var atualizaCarrinhoDto = new CarrinhoItemAtualizaQuantidadeDto
                    {
                        CarrinhoId = id,
                        Quantidade = quantidade
                    };

                var retornaItemAtualizadoDto = await CarrinhoCompraService!
                        .AtualizarQuantidade(atualizaCarrinhoDto.CarrinhoId, atualizaCarrinhoDto);

                await AtualizarPrecoTotalItem(retornaItemAtualizadoDto);
                //CalculaResumoCarrinhoTotal();
                CarrinhoChanged();
            }           
            else
            {
                var item = CarrinhoCompraItens!.FirstOrDefault(x => x.Id == id);
                if(item is not null)
                {
                    item.Quantidade = 1;
                    item.PrecoTotal = item.Preco;
                }
            }

        }

        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }

    }


    protected async Task DeletaCarrinhoItem_Click(int id)
    {
        var carrinhoItemDto = await CarrinhoCompraService!.DeletaItem(id);


        //Remove item da coleção de memória do client
        await RemoveCarrinhoItem(id);

        //CalculaResumoCarrinhoTotal();
        CarrinhoChanged();
    }


    private async Task RemoveCarrinhoItem(int id)
    {
        var carrinhoDto = ObtemItemDoCarrinho(id);
        CarrinhoCompraItens!.Remove(carrinhoDto);

        await GerenciaCarrinhoLocalStorage!.SaveCollection(CarrinhoCompraItens);
    }


    private void SetPrecoTotal()
    {
        PrecoTotal = CarrinhoCompraItens!.Sum(p => p.PrecoTotal);
    }

    private void SetQuantidadeTotal()
    {
        QuantidadeTotal = CarrinhoCompraItens!.Sum(P => P.Quantidade);
    }

    private void CalculaResumoCarrinhoTotal()
    {
        SetPrecoTotal();
        SetQuantidadeTotal(); 
    }

    private async Task AtualizarPrecoTotalItem(CarrinhoItemDto carrinhoItemDto)
    {
        var item = ObtemItemDoCarrinho(carrinhoItemDto.Id);

        if(item is not null)
        {
            item.PrecoTotal = carrinhoItemDto.Preco * carrinhoItemDto.Quantidade;
        }

        await GerenciaCarrinhoLocalStorage!.SaveCollection(CarrinhoCompraItens!);

    }


    private void CarrinhoChanged()
    {
        CalculaResumoCarrinhoTotal();
        CarrinhoCompraService!.RaiseEventCarrinhoCompraChanged(QuantidadeTotal);
    }

}
