@page "/CarrinhoCompra"

@inject IConfiguration config

@if (CarrinhoCompraItens is null && MensagemErro is null)
{
    <ExibirSpinner />
}
else if (MensagemErro is not null)
{
    <ExibirErro MensagemErro="@MensagemErro"></ExibirErro>
}
else
{
    <h3 class="mb-5">Carrinho</h3>
    @if (CarrinhoCompraItens?.Count > 0)
    {

        <div class="row g-3">
            <div class="col-md-9">
                @foreach (var item in CarrinhoCompraItens!)
                {
                    <div class="row mb-5">
                        <div class="col-4 col-md-3 col-lg-2 h-25 w-25">

                            @if (File.Exists(@item.ProdutoFotoUrl))
                            {
                                <img src="@item.ProdutoFotoUrl" class="img-thumbnail card-img-top" alt="Imagem do Produto">
                            }
                            else
                            {
                                <img src="@CreateWebPath(item.ProdutoFotoUrl)" class="img-thumbnail card-img-top" alt="Imagem do Produto">
                            }
                        </div>
                        <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">

                            <h5>@item.ProdutoNome</h5>
                            <h6>@item.ProdutoDescricao </h6>


                            <div class="text-start mt-3">
                                <span>Preço: <b>@item.Preco.ToString("C")</b></span>
                                <input type="number" class="text-sm-center" @bind="@item.Quantidade" />
                                <button class="btn btn-info btn-sm shadow-none EscondeButtonAtualizaQnt" @onclick="(()=>
                                    AtualizarQuantidadeCarrinho_Click(item.Id, item.Quantidade))" title="Adicionar Quantidade">
                                    <i class="fa-regular fa-circle-check" style="font-size: 25px;"></i>
                                </button>

                                <button @onclick="(()=> DeletaCarrinhoItem_Click(item.Id))" class="btn btn-danger shadow-none text-end" title="Remover item do Carrinho">
                                <i class="fa-solid fa-trash-can" style="font-size: 18px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
         </div>

            <div class="col-md-3">
                <h2>Carrinho - Resumo</h2>
                <div class="mt-2">
                    <div class="fs-4"><b>Total - (@QuantidadeTotal items)&nbsp;</b><b>R$ @PrecoTotal</b>
                        <a href="/PagamentoPersonalizado" class="btn btn-success text-center">
                        <i class="fa-solid fa-credit-card shadow-none align-self-md-center"></i>&nbsp;Pagamento                  
                    </a> 
                    </div>
                </div>
            </div>
        </div>
       
    }
    else
    {
        <div>
            <h3><b>Carrinho De Compra está vazio...</b>.</h3>
        </div>
    }


}

@code {
    [Inject]
    public ICarrinhoCompraService? CarrinhoCompraService { get; set; }
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    [Inject]
    public ILocalStorageCarrinhoItensService? GerenciaCarrinhoLocalStorage { get; set; }

    public List<CarrinhoItemDto>? CarrinhoCompraItens { get; set; }

    public string? MensagemErro { get; set; }

    public decimal PrecoTotal { get; set; }

    public int QuantidadeTotal { get; set; }


    private string CreateWebPath(string? relativePath)
    {
        return Path.Combine(config.GetValue<string>("WebStorageRoot")!, relativePath!);
    }


    protected override async Task OnInitializedAsync( )
    {
        try
        {

            //CarrinhoCompraItens = await GerenciaCarrinhoLocalStorage!.GetCollection();
            CarrinhoCompraItens = await CarrinhoCompraService!.ObterItens(UsuarioLogado.UsuarioId);

            //CalculaResumoCarrinhoTotal();
            CarrinhoChanged();

        }

        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }
    }


    private CarrinhoItemDto ObtemItemDoCarrinho(int id)
    {
        return CarrinhoCompraItens!.FirstOrDefault(i => i.Id == id) ?? null!;
    }
    protected async Task AtualizarQuantidadeCarrinho_Click(int id, int quantidade)
    {
        try
        {
            if(quantidade > 0)
            {
                var atualizaCarrinhoDto = new CarrinhoItemAtualizaQuantidadeDto
                    {
                        CarrinhoId = id,
                        Quantidade = quantidade
                    };

                var retornaItemAtualizadoDto = await CarrinhoCompraService!
                        .AtualizarQuantidade(atualizaCarrinhoDto.CarrinhoId, atualizaCarrinhoDto);

                await AtualizarPrecoTotalItem(retornaItemAtualizadoDto);
                //CalculaResumoCarrinhoTotal();
                CarrinhoChanged();
            }           
            else
            {
                var item = CarrinhoCompraItens!.FirstOrDefault(x => x.Id == id);
                if(item is not null)
                {
                    item.Quantidade = 1;
                    item.PrecoTotal = item.Preco;
                }
            }

        }

        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }

    }


    protected async Task DeletaCarrinhoItem_Click(int id)
    {
        var carrinhoItemDto = await CarrinhoCompraService!.DeletaItem(id);


        //Remove item da coleção de memória do client
        await RemoveCarrinhoItem(id);

        //CalculaResumoCarrinhoTotal();
        CarrinhoChanged();
    }


    private async Task RemoveCarrinhoItem(int id)
    {
        var carrinhoDto = ObtemItemDoCarrinho(id);
        CarrinhoCompraItens!.Remove(carrinhoDto);

        await GerenciaCarrinhoLocalStorage!.SaveCollection(CarrinhoCompraItens);
    }


    private void SetPrecoTotal()
    {
        PrecoTotal = CarrinhoCompraItens!.Sum(p => p.PrecoTotal);
    }

    private void SetQuantidadeTotal()
    {
        QuantidadeTotal = CarrinhoCompraItens!.Sum(P => P.Quantidade);
    }

    private void CalculaResumoCarrinhoTotal()
    {
        SetPrecoTotal();
        SetQuantidadeTotal(); 
    }

    private async Task AtualizarPrecoTotalItem(CarrinhoItemDto carrinhoItemDto)
    {
        var item = ObtemItemDoCarrinho(carrinhoItemDto.Id);

        if(item is not null)
        {
            item.PrecoTotal = carrinhoItemDto.Preco * carrinhoItemDto.Quantidade;
        }

        await GerenciaCarrinhoLocalStorage!.SaveCollection(CarrinhoCompraItens!);

    }


    private void CarrinhoChanged()
    {
        CalculaResumoCarrinhoTotal();
        CarrinhoCompraService!.RaiseEventCarrinhoCompraChanged(QuantidadeTotal);
    }

}
