@if (PagamentosDiarios != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Total Preco</th>
                <th>Total Quantidade Produtos</th>
                <th>Total Usuários</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@TotalPrecoMes</td>
                <td>@TotalQuantProdutos</td>
                <td>@TotalQuantUsuarios</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Usuários</th>
                <th>Email</th>
                <th>Preço Total</th>
                <th>Quantidade Total</th>
                <th>Forma de Pagamento</th>
                <th>Data do Pagamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pagamento in PagamentosDiarios!)
            {
                <tr>
                    <td>@pagamento.Usuario</td>
                    <td>@pagamento.Email</td>
                    <td>@pagamento.TotalPrecoDiaria</td>
                    <td>@pagamento.TotalQuantDiaria</td>
                    <td>@pagamento.EPagamento</td>
                    <td>@pagamento.HoraDoPagamento</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Não há registros desse mês</h1>
}

@code{
    [Parameter]
    public IEnumerable<PagamentoDiarioDto>? PagamentosDiarios { get; set; }

    [Parameter]
    public decimal TotalPrecoMes { get; set; }
    [Parameter]
    public int TotalQuantProdutos { get; set; }
    [Parameter]
    public int TotalQuantUsuarios { get; set; }

}